# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_file="../output_data/cities.csv"
weather_df=pd.read_csv(weather_file)
del weather_df["Unnamed: 0"]
weather_df

,City,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
0,acapulco,16.86,-99.89,89.600,66.0,75.0,3.60,MX,06/23/2020
1,kurilsk,45.23,147.88,47.210,91.0,93.0,2.73,RU,06/23/2020
2,sinnamary,5.38,-52.95,79.340,89.0,100.0,4.78,GF,06/23/2020
3,faanui,-16.48,-151.75,78.890,78.0,39.0,7.71,PF,06/23/2020
4,leningradskiy,69.38,178.42,32.324,96.0,100.0,6.20,RU,06/23/2020
...,...,...,...,...,...,...,...,...,...
531,cabedelo,-6.98,-34.83,84.200,62.0,20.0,6.70,BR,06/23/2020
532,daye,30.08,114.95,74.462,91.0,100.0,1.55,CN,06/23/2020
533,piney green,34.72,-77.32,91.004,55.0,75.0,3.60,US,06/23/2020
534,lakatoro,-16.10,167.42,73.400,100.0,40.0,2.78,VU,06/23/2020
535,calama,-22.47,-68.93,68.000,9.0,0.0,9.30,CL,06/23/2020

In [3]:
temp=list(weather_df["Max Temp (F)"])
humidity=list(weather_df["Humidity (%)"])
cloudiness=list(weather_df["Cloudiness (%)"])
wind=list(weather_df["Wind Speed (mph)"])

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#access gmaps with key
gmaps.configure(api_key=g_key)

In [5]:
fig=gmaps.figure(map_type="HYBRID")
heatmap_layer=gmaps.heatmap_layer(weather_df[["Latitude","Longitude"]], 
                               weights=weather_df["Humidity (%)"], 
                               max_intensity=76, 
                               point_radius=20)


heatmap_layer.max_intensity=100
heatmap_layer.point_radius=10

fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
#the nulls values were all drop in weatherPy before saving the datafram in the csv

min_temp=int(input("Enter the Minimum Temperature in Fahrenheit between 0 and 95: "))
max_temp=int(input("Enter the Maximum Temperature in Fahrenheit between 0 and 95: "))
min_humidity=float(input("Enter the Minimum Humidity percentage between 0 and 100: "))
max_humidity=float(input("Enter the Maximum Humidity percentage between 0 and 100: "))
min_cloudiness=float(input("Enter the Minimum Cloudiness percentage between 0 and 100: "))
max_cloudiness=float(input("Enter the Maximum Cloudiness percentage between 0 and 100: "))
min_wind=float(input("Enter the Minimum Wind Speed (mph) between 0 and 100: "))
max_wind=float(input("Enter the Maximum Wind Speed (mph) between 0 and 100: "))

weather_conditions_df=weather_df[(weather_df["Max Temp (F)"]>min_temp)&(weather_df["Max Temp (F)"]<max_temp)&
                                       (weather_df["Humidity (%)"]>min_humidity)&(weather_df["Humidity (%)"]<max_humidity)&
                                       (weather_df["Cloudiness (%)"]>min_cloudiness)&(weather_df["Cloudiness (%)"]<max_cloudiness)&
                                       (weather_df["Wind Speed (mph)"]>min_wind)&(weather_df["Wind Speed (mph)"]<max_wind)]
                                       
weather_conditions_df

Enter the Minimum Temperature in Fahrenheit between 0 and 95: 78
Enter the Maximum Temperature in Fahrenheit between 0 and 95: 85
Enter the Minimum Humidity percentage between 0 and 100: 60
Enter the Maximum Humidity percentage between 0 and 100: 80
Enter the Minimum Cloudiness percentage between 0 and 100: 0
Enter the Maximum Cloudiness percentage between 0 and 100: 20
Enter the Minimum Wind Speed (mph) between 0 and 100: 0
Enter the Maximum Wind Speed (mph) between 0 and 100: 20

,City,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
70,atuona,-9.80,-139.03,79.412,72.0,4.0,7.42,PF,06/23/2020
79,gopalpur,19.27,84.92,84.614,78.0,9.0,5.66,IN,06/23/2020
101,sao paulo de olivenca,-3.38,-68.87,84.812,73.0,8.0,0.55,BR,06/23/2020
159,yarmouth,41.71,-70.23,80.600,65.0,1.0,4.60,US,06/23/2020
343,ewa beach,21.32,-158.01,78.800,65.0,1.0,2.10,US,06/23/2020
373,sompeta,18.93,84.60,83.894,77.0,6.0,3.64,IN,06/23/2020
445,namatanai,-3.67,152.43,80.330,79.0,14.0,2.59,PG,06/23/2020

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df=weather_conditions_df.copy()
hotel_df["Hotel Name"]=""
hotel_df

,City,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date,Hotel Name
70,atuona,-9.80,-139.03,79.412,72.0,4.0,7.42,PF,06/23/2020,
79,gopalpur,19.27,84.92,84.614,78.0,9.0,5.66,IN,06/23/2020,
101,sao paulo de olivenca,-3.38,-68.87,84.812,73.0,8.0,0.55,BR,06/23/2020,
159,yarmouth,41.71,-70.23,80.600,65.0,1.0,4.60,US,06/23/2020,
343,ewa beach,21.32,-158.01,78.800,65.0,1.0,2.10,US,06/23/2020,
373,sompeta,18.93,84.60,83.894,77.0,6.0,3.64,IN,06/23/2020,
445,namatanai,-3.67,152.43,80.330,79.0,14.0,2.59,PG,06/23/2020,

In [16]:
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json?parameters"
params={"key":g_key,"radius":"5000", "keyword":"Hotel"}

for index, row in hotel_df.iterrows():
    latitude=row["Latitude"]
    longitude=row["Longitude"]
    coordinates=f"{latitude}, {longitude}"
    params["location"]=coordinates

    data=requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index,"Hotel Name"]=data["results"][0]["name"]
        city=row["City"]
    except:
        print(f"No hotels found in {city}")

No hotels found gopalpur
No hotels found ewa beach

In [13]:
hotel_df

,City,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date,Hotel Name
70,atuona,-9.80,-139.03,79.412,72.0,4.0,7.42,PF,06/23/2020,SimplicitÃ© Marquises
79,gopalpur,19.27,84.92,84.614,78.0,9.0,5.66,IN,06/23/2020,"MAYFAIR Palm Beach Resort, Gopalpur"
101,sao paulo de olivenca,-3.38,-68.87,84.812,73.0,8.0,0.55,BR,06/23/2020,
159,yarmouth,41.71,-70.23,80.600,65.0,1.0,4.60,US,06/23/2020,All Seasons Resort
343,ewa beach,21.32,-158.01,78.800,65.0,1.0,2.10,US,06/23/2020,Hampton Inn & Suites Oahu/Kapolei
373,sompeta,18.93,84.60,83.894,77.0,6.0,3.64,IN,06/23/2020,
445,namatanai,-3.67,152.43,80.330,79.0,14.0,2.59,PG,06/23/2020,Namatanai Hotel

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

#add marker
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))